* {
    transition: background-color 350ms ease, color 50ms ease;
}

html {
    scroll-behavior: smooth !important;
    width: 100vw;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0 !important;
    overflow-x: hidden;
}

svg {
    transition: background-color 350ms ease;
}

svg>path {
    transition: color 350ms ease;
}

.bg-theme-light {
    background-color: var(--bs-gray-100);
}

.bg-theme-dark {
    background-color: var(--bs-gray-800);
}

.bg-logo-light {
    background-color: #f0f0f0;
}

.bg-logo-dark {
    background-color: var(--bs-gray-700);
}

.card-body {
    overflow-wrap: break-word !important;
}